.about {
  padding-top: 100px;
  padding-bottom: 200px;
  &-content {
    text-align: center;
    h2 {
      margin-bottom: 30px;
      font-size: clamp(16px, 6vw, 32px);
      line-height: 140%;
      font-weight: 400;
    }
    h3 {
      font-size: clamp(16px, 7vw, 40px);
      line-height: 140%;
      font-weight: 400;
    }
  }
  @media (min-width: 768px) {
    &-content {
      text-align: left;

      h2 {
        margin-bottom: 50px;
      }
    }
  }
}