.contact {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 200px;

  &-mail {
    display: block;
    margin-bottom: 150px;
    font-size: 7.3vw;
    color: #fff;
  }
  &-content {
    h2 {
      font-size: 24px;
      line-height: 140%;
    }
  }
  &-buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  @media (min-width: 768px) {
    &-content {
      text-align: left;
      display: flex;
      align-items: center;

      h2 {
        max-width: 370px;
      }
    }
    &-buttons {
      margin-top: 0;
      flex-direction: row;
    }
  }
}