.hero {
  @include flexCenter;
  min-height: 100vh;

  &-title {
    text-transform: uppercase;
    font-size: clamp(15px, 4.7vw, 80px);
    font-weight: normal;
    
    span {
      display: block;
      overflow: hidden;
    }
  }

  @media (min-width: 1200px) {
    justify-content: flex-start;

    &-title {
      margin-left: 160px;
      font-size: clamp(15px, 3.75vw, 80px);
    }
  }
  @media (min-width: 1350px) {
    &-title {
      font-size: clamp(15px, 3.9vw, 80px);
    }
  }
  @media (min-width: 1600px) {
    &-title {
      font-size: clamp(15px, 4.1vw, 80px);
    }
  }@media (min-width: 1900px) {
    &-title {
      font-size: clamp(15px, 4.29vw, 88px);
    }
  }
}