.projects {
  padding-top: 100px;
  padding-bottom: 200px;
  &-item {
    @include transition;
    &-title {
      h2 {
        color: #fff;
      }
    }
    &-content {
      a {
        color: rgba(255,255,255, .8)
      }
    }
  }
  .button {
    margin: 50px auto;
  }
  @media (min-width: 768px) {
    .button {
      margin: 80px 0 0;
    }
  }
}