.services {
  padding-top: 100px;
  padding-bottom: 200px;
  &-list {
    counter-reset: line-number;
    &:hover {
      .services-item {
        opacity: .7;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &-item {
    @include transition;
    margin-bottom: 60px;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      .services-item-title {
        p {
          &::before {
            content: "0"counter(line-number);
          }
        }
      }
    }
    &-title {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 20px;
      p {
        width: 50px;
        font-size: 14px;
        font-weight: 700;
        color: $main-color;
        counter-increment: line-number;
        &::before {
          content: counter(line-number);
        }
      }
      h2 {
        font-weight: 700;
        font-size: 18px;
      }
      svg {
        width: 10px;
        margin-left: 40px;
        margin-bottom: 2px;
        @include transition;
      }
    }
    &-content {
      text-align: center;
      p {
        @include transition;
        color: rgba(255,255,255, .6);
        line-height: 140%;
      }
    }
    &:hover {
      .services-item-content {
        p {
          color: rgba(255,255,255, .8);
        }
      }
    }
  }

  .button {
    margin: 50px auto 0;
  }

  @media (min-width: 768px) {
    &-item {
      margin-bottom: 100px;
      &-title {
        justify-content: flex-start;

        p {
          font-size: 16px;
        }
        h2 {
          font-size: 24px;
        }
        svg {
          width: 17px;
          margin-bottom: 4px;
        }
      }
      &-content {
        text-align: left;
        padding-left: 50px;

        p {
          font-size: 18px;
        }
      }
    }
    .button {
      margin: 80px 0 0;
    }
  }

  @media (min-width: 1024px) {
    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    &-item {
      margin-bottom: 120px;
      &:hover {
        .services-item-title {
          svg {
            opacity: 1;
            transform: none;
          }
        }
      }
      &-title {
        svg {
          opacity: 0;
          transform: translate(-10px, 10px);
        }
      }
      &-content {
        padding-right: 80px;
      }
    }
  }
}