.work {
  padding-bottom: 40vh;
  &-list {
    width: fit-content;
    padding-left: 30px;
    @include transition;

    &:hover {
      .work-item {
        opacity: .7;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &-item {
    font-size: clamp(20px, 6vw, 46px);
    margin-bottom: 25px;
    @include transition;
    span {
      @include transition;
    }
    small {
      font-size: clamp(13px, 1.6vw, 18px);
    }
    &:hover {
      span {
        &:not(.colored) {
          text-shadow: 0 0 1px #fff;
          filter: progid:DXImageTransform.Microsoft.Glow(Color=#ffffff,Strength=1);
          color: $black;
        }
      }
    }
  }
  a {
    color: $white;
  }

  @media (min-width: 1200px) {
    &-list {
      padding-left: 160px;
    }
    &-item {
      margin-bottom: 62px;
      &:hover {
        span {
          &:not(.colored) {
            text-shadow: 0 0 2px #fff;
          }
        }
      }
    }
  }
}