button,
a,
input[type=submit] {
  &.button {
    position: relative;
    @include flexCenter;
    display: flex;
    @include transition;
    width: fit-content; height: 50px;
    border-radius: 100px;
    border: none;
    padding: 0 50px;
    font-family: $main-font;
    background-color: $main-color;
    font-weight: 700;
    font-size: 16px;
    color: $white;
    cursor: pointer;

    &:hover {
      background-color: darken($main-color, 10%);
    }

    &-ghost {
      background-color: transparent;
      border: 1px solid rgba(255,255,255, .15);
      backdrop-filter: blur(4px);
      font-weight: 400;

      &:hover {
        background-color: rgba(255,255,255, .15);
      }
    }

    @media (min-width: 768px) {
      height: 60px;
      font-size: 20px;
    }
  }
}