.header {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  padding: 30px 15px;
	z-index: 11;

	&-logo {
		opacity: .6;
	}
  &-menu {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: fixed;
    width: 0;
    height: 100vh;
    padding: 80px 0;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #00102C;
    .menu {
      margin-right: 20px;
      font-size: 20px;
      text-align: right;
      &-item {
        margin-bottom: 20px;

        &:first-child {
          margin-bottom: 80px;
          font-size: 16px;
        }
      }
    }
    a {
      color: #fff;
    }
  }
  &-trigger {
    cursor: pointer;
    div {
      height: 2px;
      &:first-child {
        width: 30px;
        background-color: rgba(#fff, .6);
      }
      &:last-child {
        width: 20px;
        margin-top: 10px;
        margin-left: 5px;
        background-color: rgba(#fff, .6);
      }
    }
  }

	@media (min-width: 1200px) {
    padding: 40px;
		&-logo {
			@include flexCenter;
		}
    &-trigger {
      display: none;
    }
    &-menu {
      position: relative;
      height: initial;
      width: initial;
      padding: 0;
      background-color: transparent;
      .menu {
        display: flex;
        align-items: center;
        gap: 40px;
        font-size: 20px;

        &-item {
          margin-bottom: 0;
          &:first-child {
            margin-bottom: 0;
            margin-right: 40px;
          }
        }
      }
    }
	}
}